@model During_Travel2.Models.Client

@{
    ViewBag.Title = "How Would You Like To Look Up Your Travel Documents?";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>How Would You Like To Look Up Your Travel Documents?</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    @{
        List<SelectListItem> items = new List<SelectListItem>();

        items.Add(new SelectListItem { Text = "Name", Value = "0" });

        items.Add(new SelectListItem { Text = "Confirmation Number", Value = "1" });
    }

    @using (Html.BeginForm())
    {
        @Html.DropDownList("Example", new SelectListItem(),"Make a Selection")

        <input type="submit" value="Submit" />
    }

    <p>Value selected: @ViewBag.Info</p>

</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
