@model IEnumerable<During_Travel2.Models.Client>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Firstname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Lastname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Hotel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RoomCategory)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateofArrival)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateofDeparture)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LengthOfStay)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NameOfRepresentative)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HoursAtTheHotel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MyProperty)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Confirmation)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Firstname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Lastname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Hotel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RoomCategory)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateofArrival)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateofDeparture)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LengthOfStay)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NameOfRepresentative)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HoursAtTheHotel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MyProperty)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Confirmation)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
